/*


 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

 
body { 
  font-family: 'Open Sans', sans-serif; 
  font-weight: 400;
  color: #fff;
}

a { text-decoration: none }
a:hover { color: skyblue; }

/* COLOR PALETTE */
/* Light blue: D7EEFC
/* Light teal: AFCFDA
/* Med teal: 7DA2A8
/* dark blue: 748194
/* dark teal: 0f3135 */
html, body {
  margin: 0;
  padding: 0; }

body {
  background: #0f3135;
  padding-top: 30px; }

.fa {
  font-family: 'FontAwesome';
  font-size: 24px; }

a.fa, a.fa:hover {
  text-decoration: none; }

a.fa {
  color: #7DA2A8; }

a.fa:hover {
  color: #748194; }

.btn, .btn input[type='submit'], .btn a, .btn a:hover {
  color: #fff; }

.btn, input[type=button] {
  background: linear-gradient(to bottom, #748194, #183e4b);
  display: inline-block;
  padding: .2em .5em;
  outline: none;
  border: none; }

.details {
  max-height: 1px;
  display: none;
  -webkit-transition: .5s;
  transition: .5s; }

.details.show {
  display: block;
  max-height: 999px; }

.btn:hover {
  background: #748194; }

.navbar {
  position: fixed;
  top: 0;
  width: calc(100% - 24px);
  padding: 5px 12px;
  background: #232323; }

/*
.navbar a { margin: 5px 0; }*/
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto; }

.item {
  color: #D7EEFC;
  display: block;
  background: #183E4B;
  margin-bottom: 1.5em;
  padding-bottom: .5em;
  border-radius: 0 4px 4px 0;
  text-align: left; }

.item p {
  margin: .2em 15px; }

.item a.fa {
  margin-right: 8px; }

.item-title {
  color: #fff;
  font-size: 1.3em;
  background: #24747c;
  padding: .1em 0;
  margin-bottom: .5em;
  padding: 0 0 0 15px;
  text-shadow: 0 -4px 0 0 #0f3135; }

.column {
  width: 40%;
  float: left;
  margin: 2% 5% 50px 5%; }

.danger, a.danger:hover {
  color: #ec2300; }

a.button, a.button:visited {
  display: inline-block;
  background: #333333;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  font-family: arial;
  font-weight: 400; }

a.button:hover {
  background: #999999; }

.float-right {
  float: right; }

.fa-times:before {
  color: #ff9696; }

h1, h2 {
  font-weight: 300; }

@media (max-width: 700px) {
  .column {
    float: none;
    width: 100%;
    margin: 0; }

  .container {
    width: 98%; }

  h1, h2 {
    margin-left: 12px; }

  form {
    margin-left: 12px; } }
